<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Show Real Task</title>
    <th:block th:include="fragments/menu :: menu"></th:block>
    <th:block th:include="/general/head :: head"></th:block>
</head>
<body>
    <h2>
        [<label th:text="${realTask.category}"></label>]
        <label th:text="${realTask.title}"></label>
        <input type="checkbox" th:attr="ng-click='${realTask.checked}'"/>
        <label th:text="${realTask.priority}"></label>
    </h2>
    <label th:text="${realTask.creationDate}"></label>


    <hr/>
    <h4 th:text="${realTask.description}"></h4>
    <hr/>
    <ul>
        <li th:each="subTask : ${realTask.subTaskList}">
            <label th:text="${subTask.title}"></label>
            <input type="checkbox" name="name" th:checked="${subTask.checked}"/>
        </li>
    </ul>

</body>
</html>