<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Task Bank List</title>
</head>
<body>
<h1>Task Bank List</h1>

    <div th:fragment="taskBankMenu">
        <ul class="list-group list-unstyled">
            <li class="list-group-item active">Task Bank
                <a th:href="@{'/task/newTaskBank'}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </li>
            <li><a class="list-group-item" th:href="@{'/task/allTasks'}" th:text="'All'"></a></li>
            <li th:each="taskBank : ${taskBankList}"><a class="list-group-item" th:href="@{'/task/taskListByBank?bankName=' + ${taskBank}}" th:text="${taskBank}"></a></li>
        </ul>
    </div>
</body>
</html>